<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container">
    
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" >
      <i class="fa-solid fa-mountain-sun fa-lg"></i>
      Puerto Princessa
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link mx-2"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-2"
            routerLink="/foods"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Foods</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-2"
            routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
