/* Section Main */

h2,section-header {
  font-family: "Acme";
  font-size: 1.3rem;
}


section {
  min-height: 40vh;
}

.summary-section{
  background-color: #E6DDDE;
}

p,h1 {
  color: white;
}

.food-section{
  background-color: #303443;
}


.hero-img {
  display: block;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/assets/img/background-foods.jpg");
  background-position: 50% 50%;
  width: 100vw;
  height: 93vh;
}

.header {
  font-size: 3.5rem;
}

.sub-header {
  font-size: 2rem;
}

.sub-header,
.header {
  color: white;
}

.hero-title {
  padding-top: 35vh;
}

.section-header {
  font-size: 2rem;
}

.food-header {
  font-size: 2.2em;
}

.food-subheader {
  font-family: "lato";
  font-size: 1.5em;
}



img {
  max-width: 93vw;
  max-height: 85vh;
}
@media only screen and (max-width: 650px) {
  .section-header {
    font-size: 1.2rem;
  }

  img {
    max-width: 60vw;
    max-height: 35vh;
  }

  .food-header {
    font-size: 1.6em;
  }
  
  .food-subheader {
    font-family: "lato";
    font-size: 1.1em;
  }
  
  .food-section{
    width: 90vw;
    margin: 0px 5vw 0px 5vw;
  }
}
