<div class="hero">
  <div class="hero-img">
    <div class="container-fluid header">
      <div class="hero-title text-center">
        <p class="header">Local Dishes</p>
        <p class="sub-header">Special Delicacies Must Eat In Palawan.</p>
      </div>
    </div>
  </div>
</div>

<section class="container-fluid py-5 summary-section">
  <div class="container px-4 py-5 d-flex align-center justify-content-center">
    <p class="section-header text-black text-center my-5">
      Palawan may be famous for its natural wonders, but this island paradise in
      the Philippines also steps up its game when it comes to local dishes. If
      you wish to journey to this island destination, you might want to consider
      trying out these delectable treats. Here are the local delicacies to try
      when you visit Palawan.
    </p>
  </div>
</section>

<div [ngStyle]="{backgroundImage:'url(/assets/img/background-foods2.jpg)'}" class="py-5" >

  <section class="container food-section my-5">
    <div class="row  py-5">
      <div class="col-lg">
        <div
          class="d-flex align-items-center justify-content-center flex-column text-center"
        >
          <p class="food-header pb-3">Garlic Butter Shrimp</p>
          <img src="/assets/img/food1.jpg" alt="food1" width="400" height="400" />
        </div>
      </div>
      <div
        class="col-lg d-flex align-items-center justify-content-center text-center"
      >
        <p class="food-subheader px-5 mt-5">
          It is simply made of Shrimp, garlic, butter, and lemon soda. Don't take
          the lemon soda for granted because it is a major ingredient. It refers
          to soda pop such as Sprite, 7Up, Sierra Mist, and the likes. The sweet
          taste of this dish is attributed to this ingredient.
        </p>
      </div>
    </div>
  </section>
  
  <section class="container food-section my-5">
    <div class="row  py-5">
      <div class="col-lg">
        <div
          class="d-flex align-items-center justify-content-center flex-column text-center"
        >
          <p class="food-header pb-3">Sizzling Tuna Sisig</p>
          <img src="/assets/img/food2.jpg" alt="food1" width="400" height="400" />
        </div>
      </div>
      <div
        class="col-lg d-flex align-items-center justify-content-center text-center"
      >
        <p class="food-subheader px-5 mt-5">
          Sizzling Tuna Sisig is a tuna steaks sliced into small cubes are used
          instead of minced pork. This dish is served over a hot metal plate (also
          referred to as sizzling plate) and topped with crushed chicharon. It is
          served with chili pepper and lime or calamansi.
        </p>
      </div>
    </div>
  </section>
  
  <section class="container food-section my-5">
    <div class="row  py-5">
      <div class="col-lg">
        <div
          class="d-flex align-items-center justify-content-center flex-column text-center"
        >
          <p class="food-header pb-3">Special Buko Pandan</p>
          <img src="/assets/img/food3.jpg" alt="food1" width="400" height="400" />
        </div>
      </div>
      <div
        class="col-lg d-flex align-items-center justify-content-center text-center"
      >
        <p class="food-subheader px-5 mt-5">
          Buko Pandan is a Dessert made using young coconut, pandan leaves (or
          Screwpine leaves), and sago pearls. At first glance, this dessert dish
          can be mistaken for Buko Salad. Both desserts are almost similar
          visually.
        </p>
      </div>
    </div>
  </section>
  
  <section class="container my-5 food-section">
    <div class="row my-5">
      <div class="col-lg">
        <div
          class="d-flex align-items-center justify-content-center flex-column text-center"
        >
          <p class="food-header pb-3">Tamilok</p>
          <img src="/assets/img/food4.jpg" alt="food1" width="400" height="400" />
        </div>
      </div>
      <div
        class="col-lg d-flex align-items-center justify-content-center text-center"
      >
        <p class="food-subheader mx-5 mt-5">
          it’s considered as a popular exotic Palawan delicacy which should be
          experienced by everyone visiting Palawan.
        </p>
      </div>
    </div>
  </section>
  
</div>

