/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: ivymode;
    src: url("/assets/fonts/IvyMode-Regular.otf");
}
*{
    font-family: "ivymode", sans-serif;
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

