/* Section Main */

h2 {
  font-family: "Acme";
  font-size: 1.3rem;
}

section{
  background-color: #E6DDDE;
}

.hero-img {
    display: block;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/background.png");
    background-position: 50% 50%;
    width: 100vw;
    height: 93vh;
  }
  

.header{
  font-size: 3.5rem;
}

.sub-header{
  font-size: 2.0rem;
}

.sub-header, .header{
  color: white;
}

.hero-title{
  padding-top: 35vh;
}

/* Section scenery */

img{
  height: 80vh;
  width: 70vw;
}

.slideshow {
  display: flex;
  padding: 30px 30px 30px 30px;
  margin: 30px 30px 30px 30px;
}

.slideshow-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 60px;
}

.section-infos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.content-infos{
  background-color: #303443;
}

@media only screen and (max-width: 500px) {
  .slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 4vh 0px 0px 0px;
  }

  .slideshow-caption {
    margin-top: 4vh;
    padding-left: 20px;
    padding-right: 20px;
  }

  .slideshow-header{
    font-size: 1.7em;
  }

  .slideshow-subheader{
    font-size: 1.1em;
  }

  .header{
    font-size: 2.5rem;
  }
  
  .sub-header{
    font-size: 1.3rem;
  }
  

  img{
    height: 30vh;
    width: 100%;
  }
  .section-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  iframe{
    width: 90vw;
    height: 60vh;
  }
}


@media only screen and (max-width: 700px) and (min-width: 500px){
  .slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 6vh 0px 0px 0px;
  }

  .slideshow-caption {
    margin-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  img{
    height: 50vh;
    width: 100%;
  }
  .section-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  iframe{
    width: 90vw;
    height: 60vh;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 700px) {
  .slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 8vh 0px 0px 0px;
  }
  .slideshow-caption {
    margin-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  img{
    height: 60vh;
    width: 70vw;
  }
  .section-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  iframe{
    width: 90vw;
    height: 60vh;
  }
}



@media only screen and (max-width: 1600px) and (min-width: 1300px) {
  .slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10vh 0px 0px 0px;
  }
  .slideshow-caption {
    margin-top: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }
  img{
    max-height: 70vh;
    width: 70vw;
  }
  .section-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1650px) and (min-width: 1600px) {
  .section-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Section location */